.projetos-lista {
  padding-top: 30px;
  padding-bottom: 120px;
}

.projetos-lista h2 {
  margin-top: 40px;
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.projetos-lista ul {
  display: flex;
  gap: 40px;
  padding: 0 20px 20px 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
  flex-wrap: wrap;
}

.projetos-lista li {
  flex: 1;
  min-width: 280px;

}

.projetos-lista a {
  display: block;
}

.projetos-lista img {
  max-width: 280px;
  max-height: 280px;
  margin-bottom: 16px;
}
.projetos-lista h3{
  margin-bottom: 8px;
  align-items: center;
}

.projetos-lista h3::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 12px;
  margin-right: 8px;
  background-color: var(--cor-p1);
  transition: width 0.2s;
}

.projetos-lista a:hover h3::before {
  width: 24px;
}

@media (max-width: 800px) {
 .projetos-lista {
  padding-bottom: 60px;
 }
 .projetos-lista ul {
  flex-wrap: nowrap;
 } 
}

